<!-- The code below will provide the web page withx a page title, the page title will depend to the title of the post the is on the web page. -->
<% provide(:page_title, @post.title) %>
<!-- The code below will place the word active wherever :blog_active is yield. This will display the page that is being viewed in bold in the navbar. -->
<% provide(:blog_active, "active") %>

  <div class="row">
    <div class="container_button">
        <%= link_to root_path, class: "btn btn-secondary btn-back_posts" do %>
          Back to Posts
        <% end %>
    </div>
  </div>

  <div class="container">
    <div class="container_post">
    <h1 class="post_title"><%= @post.title %></h1>
    <p class="date"><%= @post.display_day_published %></p>

    <br>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?'}, class: 'btn btn-delete' %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-edit' %><br>
    <% end %>
    <br>
    
    <div class="post_body">
      <%= @post.body %>
    </div>

    <legend></legend>
    <%= render 'comments/comment' %>
    </div>
  </div>
