<!DOCTYPE html>
<html>
  <head>
    <!-- The code below will display the the title of the page | Blog in the tab section of a web browser -->
    <title><%= yield (:page_title) %> | Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
  <!-- The embedded ruby code below will check the views folder, and inside the views folder it will look for the layouts folder, and inside the layouts folder it will find the navbar file. When the file is located it will be rendered to the website. The code is placed outside of the container to prevent the navbar from receiving the containers styling. -->
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/alerts' %>
  <!-- The code below is used to check if the current page being viewed is the same as the page that the root path is linked to. If the page is the root page then the header code will execute causing the header to be displayed on the root page. If the page being displayed isn't the root page then the header will not be displayed. -->
  <% if current_page?(root_path) %>
    <%= render 'layouts/header' %>
  <% end %>
    <!-- The embedded ruby code in the div tag is primarily used to aid with css styling. The code will display the name of the controller and the action that the controller is using in the web browsers inspect tool. -->
    <div class="container-posts <%= controller_name %> <%= action_name %>">
      <!-- The tag below (<%= %>) is used to tell the application that the code contained within is ruby. The tags allow you to embed ruby code into html documents provided the document is saved as .html.erb. Yield is used by ruby to display contents onto the web page, the content is taken from the view files within the application -->
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <% if current_page?(root_path) %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>

